* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: Montserrat, sans-serif;
}

.landing-page {
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.header {
  padding: 2em 40px 0 6rem;
}

.textarea {
    color: #fff;
    z-index: 10;
    position: relative;
    top: 0;
    width: 50%;
}

.text-container {
  /* width: 40%; */
  color: #fff;
  padding: 11rem 70px 10% 6rem;
}

.character-name {
  font-size: 2em;
  color: grey;
  letter-spacing: 5px;
}

.character-title {
  font-size: 2.7em;
  font-weight: 600;
  padding-bottom: 10px;
}

.character-description {
  font-size: 1.2em;
  color: #ccc;
}

svg{
    position: absolute;
    top: 0;
    left: 211px;
    overflow: hidden;
    vertical-align: middle;
}

image{
    z-index: 1;
}
